@media (max-width: 992px) {
  .heroSlider {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 999;
    padding-bottom: 80px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 20px;
    top: 63%;
  }
  .swiper-button-next {
    right: 33%;
  }
  .swiper-button-prev {
    left: 33%;
    width: 50px;
    height: 50px;
  }
  .our-success {
    bottom: -27%;
  }
}
@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: 53%;
  }
  .swiper-button-prev {
    height: 40px;
    width: 40px;
  }
  .swiper-button-next {
    right: 20%;
  }
  .swiper-button-prev {
    left: 20%;
    height: 50px;
    width: 50px;
  }
  .heroSlider .hero-content {
    padding-top: 170px;
  }
  .our-success {
    bottom: -28%;
  }
}
@media (max-width: 575px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: 48%;
  }
  .swiper-button-next {
    right: 10%;
  }
  .swiper-button-prev {
    left: 10%;
    height: 50px;
    width: 50px;
  }
}
