@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "DM Sans", sans-serif;
}
:root {
  --color-primary: #009460;
  --color-secondary: hsla(52, 58%, 56%, 1);
  --color-body: hsla(0, 0%, 46%, 1);
  --color-dark: hsl(159, 100%, 10%);
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}
p {
  font-family: var(--font-secondary);
}
.container {
  max-width: 1270px;
}
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #eae2ae;
}
#preloader {
  display: flex;
  align-items: center;
  justify-content: center;
}
#preloader img {
  transform: scale(1.2);
}

#preloader img {
  -webkit-animation: animate-preloader 1.5s linear infinite;
  animation: animate-preloader 1.5s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 99999999;
  backdrop-filter: blur(5px);
  padding: 20px 0;
}
/* #header a {
  color: #fff;
} */
#header a:hover {
  color: var(--color-primary);
}
#header.header-scrolled,
#header.header-inner-pages {
  background: #eae2ae;
  padding: 20px 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
#header.header-scrolled a,
#header.header-inner-pages a {
  color: var(--color-body);
}
#header.header-scrolled a:hover,
#header.header-inner-pages a:hover {
  color: var(--color-primary);
}
.logo {
  background: #eae2ae;
  padding: 10px;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;

  font-family: var(--font-primary);
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.navbar a:hover {
  color: var(--color-primary);
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--color-primary);
}
.navbar .donateBtn,
.navbar .donateBtn:focus {
  padding: 15px 35px;
  font-size: 16px;
  text-decoration: none;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff !important;
  background-color: #009460;
  font-weight: 600;
  font-family: var(--font-secondary);
}

.navbar .donateBtn:hover,
.navbar .donateBtn:focus:hover {
  color: #fff;
  background: #02c682;
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--color-primary);
  transition: 0.3s;
  z-index: 999;
  height: 380px;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  color: var(--color-primary);
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: var(--color-primary);
}
.navbar-mobile .donateBtn,
.navbar-mobile .donateBtn:focus {
  margin: 15px;
  color: #fff;
  display: inline-block;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: var(--color-primary);
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
}
.hero-slider {
  overflow: hidden;
}
.slider-1 {
  background: url("../img/hero/hero-slider-2.jpeg");
}
.slider-2 {
  background: url("../img/hero/at-un-2.jpeg");
}
.slider-3 {
  background: url("../img/hero/hero-slider-1.jpeg");
}
.heroSlider {
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  width: 100%;
  position: relative;
  z-index: 999;
}
.heroSlider::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(38, 53, 56, 0.5);
  z-index: -1;
}
.heroSlider .hero-content {
  padding-top: 240px;
  text-align: center;
  color: #ffff;
}
.hero-content h2 {
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 24px;
}
.hero-content h2 span {
  display: inline-block;
  color: var(--color-secondary);
}
.hero-content p {
  max-width: 515px;
  margin: 0 auto 48px;
}
.btn-default {
  border-radius: 8px;
  padding: 15px 35px;
  display: inline-block;
  transition: 0.5s;
  border: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: hsl(159, 100%, 10%);
  background: hsla(52, 58%, 80%, 1);
  border-radius: 50px;
  font-family: var(--font-primary);
}
.btn-default i {
  margin-left: 5px;
}
.btn-default::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background: var(--color-primary);
  color: #fff !important;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}
.btn-default:hover::before {
  width: 100%;
}
.btn-default:hover {
  color: #fff;
}

/* others customize */

.swiper-button-next::after,
.swiper-button-prev::after {
  content: none;
}
.swiper-button-next,
.swiper-button-prev {
  height: 70px;
  width: 70px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 20px;
  top: 30%;
}
.swiper-button-next img,
.swiper-button-prev img {
  filter: brightness(16.5);
}

/* our success */
.hero {
  position: relative;
}
.hero-slider {
  position: relative;
}
.our-success {
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  z-index: 999999;
}
.our-success::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(50% + 20px);
  background-color: #fff;
}
.our-success .row {
  border: 1px solid rgba(242, 222, 186, 0.5);
}
.success-box {
  background: #fff;
  padding: 35px 0;
  text-align: center;
  position: relative;
}
.success-box::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(242, 222, 186, 0.5);
}
.success-box h2 {
  color: var(--color-secondary);
  font-size: 45px;
  line-height: 50px;
  font-weight: 500;
}

.success-box p {
  color: var(--color-dark);
}

/* about */
.about {
  margin-top: 70px;
}

.section-title h5 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-primary);
  margin-bottom: 20px;
  font-family: var(--font-secondary);
  font-weight: 500;
}
.section-title h2 {
  font-size: 48px;
  line-height: 60px;
  font-family: var(--font-primary);
  font-weight: 600;
}

.about img {
  max-width: 100%;
  height: auto;
}
.about-image {
  max-width: 444px;
  height: auto;
  position: relative;
}
.about-image .image-2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 35%;
  left: 52%;
}

.about-image .image-2 {
  max-width: 336px;

  border: 5px solid #fff;
}
.about-image img {
  border-radius: 20px;
}
.about .img-thumb {
  background-color: #f8eedc;
  border-radius: 20px;
}
.img-thumb p {
  padding: 30px 30px 30px 40px;
  font-family: var(--font-secondary);
  color: var(--color-dark);
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}
.video-thmb {
  padding-top: 220px;
}
.img-thumb-1 {
  max-width: 50%;
}
.img-thumb-2 {
  max-width: 50%;
}
/* play button */
.about-video-box {
  position: relative;
}
.about-video-box .play-btn {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 55px;
  height: 55px;
  font-size: 24px;
  text-align: center;
  line-height: 55px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 99999;
  transition: all 0.3s;
}
.about-video-box .play-btn i {
  display: inline-block;
  color: var(--color-primary);
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}
.about-video-box .play-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 5px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2);
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.about-video-box .play-btn:hover {
  background-color: var(--color-primary);
}
.about-video-box .play-btn:hover::after {
  border-color: #fff;
}
.about-video-box .play-btn:hover i {
  background-color: var(--color-primary);
  color: #fff;
}

/* about feature list */
.about-feature-list {
  border-top: 1px solid hsla(52, 58%, 85%, 1);
  border-bottom: 1px solid hsla(52, 58%, 85%, 1);
  padding: 16px 0;
  display: grid;
  grid-template-columns: 20% 20% 60%;
  align-items: center;
  grid-gap: 10px;
  width: 100%;
}

.about-feature-list .play-btn {
  content: "";
  position: relative;
  left: 14%;
  top: 0%;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  z-index: 99999;
}
.about-feature-list .play-btn i {
  display: inline-block;
  color: var(--color-primary);
  font-size: 2em;
}
.about-feature-list .play-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 5px solid rgba(208, 191, 78, 0.5);
  transform: scale(1.2);
  border-radius: 50%;
  z-index: -1;
}

/* inner-cms  section */
.inner-cms-section {
  padding-top: 250px;
}
.inner-cms-section .founder-img img {
  border-radius: 15px;
  max-width: 100%;
}
.inner-cms-section .founder-bio h6 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-primary);
  margin-bottom: 20px;
  font-family: var(--font-secondary);
  font-weight: 500;
}
.inner-cms-section .founder-bio div {
  margin-bottom: 16px;
}
.inner-cms-section .founder-bio h3 {
  font-size: 2rem;
  line-height: 60px;
  color: hsla(0, 0%, 20%, 1);
  margin-bottom: 20px;
  font-family: var(--font-primary);
  font-weight: 600;
}
.inner-cms-section .founder-bio p {
  color: var(--color-body);
}

.founder-contact {
  margin-top: 40px;
  width: 100%;
}
.founder-contact div {
  display: flex;
  align-items: center;
  width: 100%;
}
.founder-contact div p img {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  background: hsla(52, 58%, 80%, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 10px;
}
.founder-contact div a {
  margin-left: 20px;
  margin-bottom: 10px;
  color: var(--color-dark);
  transition: 0.3s;
  font-weight: 500;
}
.founder-contact div a:hover {
  color: var(--color-primary);
}

/* how we help section  */
.how-we-help-img img {
  max-width: 100%;
}
.how-we-help {
  margin-top: 250px;
}

/* special projects */
.special-projects {
  padding: 250px 0;
}
.projects {
  margin-top: 60px;
}
.project {
  text-align: center;
}
.project:last-child {
  padding-right: 0;
}
.projects .project .number {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: var(--color-dark);
  font-weight: bold;
  background: var(--color-secondary);
  border-radius: 100%;
  margin: 0px auto 36px;
  font-family: var(--font-primary);
}
.project .title h3 a {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 24px;
  color: hsla(0, 0%, 20%, 1);
  font-weight: 600;
  transition: all 0.3s;
}
.project .title p {
  color: var(--color-body);
  line-height: 26px;
  width: 300px;
  margin: 0 auto;
}
.project .title h3:hover a {
  color: var(--color-primary);
}

/* groce island project */
.groce-island-project {
  margin-top: 60px;
}

.groce-island-project .project-images img {
  max-width: 50%;
  height: auto;
}
.groce-island-project .project-images .img-1 {
  border-radius: 80px 0 0 0;
}

.groce-island-project .project-images .img-2 {
  border-radius: 0 0 80px 0;
}

.groce-island-project .project-images {
  display: flex;
  position: relative;
  gap: 30px;
}
.project-content h2 {
  font-size: 48px;
  line-height: 60px;
  font-family: var(--font-primary);
  font-weight: 600;
}
.project-content p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 32px;
  color: var(--color-body);
}

/* footer */
.footer {
  background: #003321;
  padding: 30px;
  color: #fff;
}

.footer .item .icon img {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  background: hsla(52, 58%, 80%, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 10px;
}
.footer .item .icon {
  display: flex;
  align-items: center;
  width: 100%;
}
.footer .item .icon a,
address {
  margin-left: 20px;
  margin-bottom: 10px;
  color: #fff;
  transition: 0.3s;
  font-weight: 500;
  transition: 0.3s;
}
.footer .item .icon a:hover {
  color: var(--color-primary);
}
